Microservicios/WorkSpace/cloud-storage-dev-container
Microservicios/WorkSpace/Debian/ext4.vhdx
.env
.env.*
*.env
Microservicios/Spring_project/Monitoring/
*.idea/
Microservicios/Spring_project/.idea/workspace.xml
